body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding-top: 50px; /* Espace pour la navbar fixe car sinon c trop chiant*/
    line-height: 1.6;
    background-color: #f4f4f4;
}

h1, h2, h3 {
            text-align: center;
            color: #333;
            font-family: "Arial", serif;
            font-weight: 1400;
            font-style: normal;
         
          }

.centre {
        text-align:center;
        }



.danslasection {
            max-width: 1600px;
            margin: 30px auto;
            padding: 30px;
            background: #ffffff;
            border-radius: 8px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
        }



nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background-color: #333333;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: flex;
  justify-content: start;
}

nav ul > li {
  float: left;
}

.elt-liste {
  display: block;
  color: white;
  padding: 14px 16px;
  text-decoration: none;
}

.elt-aligne {
        align-items: center;
    }
.image {
  max-width: 100px;
  align-items: center;
  
}

.skill {
    background: #333;
    color: #fff;
    padding: 5px 10px;
    margin: 5px;
    border-radius: 5px;
    font-size: 0.9em;
        }

p{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.elt-liste:hover {
  background-color: #444;
  color: rgb(188, 214, 188);
}

a:hover {
  color: rgb(188, 214, 188);
}

.alignementtexte{
  display: flex;
  justify-content: space-between;

}

.projet{
  width: 150px;
  border-radius: 8px;
  padding: 15px;
  flex-wrap: wrap;

}



.imagee {
  width:150px;
  border : 2px solid #000000;
  border-radius:50%
}
.textedroitimage{
  display:flex;
  justify-content: center;
  align-items: center;
  gap:10px;
}

.introduction{
  display:flex;
  justify-content: center;
  align-items: center;
  gap:10px;


  
}

.presentationprojet{
  display:flex;
  gap:10px;
}

figure {
  width:350px;
  border-radius:5%;
  flex-direction: column;
  transform: translateX(3px);

}
figure:hover{
  border : 2px solid #27ae60;
}

figcaption{
  background-color: #f2f2f2;
}

figure img, figure video{
  width:100%
}

.dm-serif-text-regular {
  font-family: "DM Serif Text", serif;
  font-weight: 400;
  font-style: normal;
}

.dm-serif-text-regular-italic {
  font-family: "DM Serif Text", serif;
  font-weight: 400;
  font-style: italic;
}

.section-title {
    color: #27ae60;
    font-size: 24px;
    margin-bottom: 20px;
}