body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding-top: 50px; /* Espace pour la navbar fixe car sinon c trop chiant*/
    line-height: 1.6;
    background-color: #f4f4f4;
}

h1, h2, h3 {
            text-align: center;
            color: #333;
        }

.centre {
        text-align:center;
        }



.danslasection {
            max-width: 1600px;
            margin: 30px auto;
            padding: 30px;
            background: #ffffff;
            border-radius: 8px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
        }



nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background-color: #333333;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: flex;
  justify-content: flex-start;
}

nav ul > li {
  float: left;
}

.elt-liste {
  display: block;
  color: white;
  padding: 14px 16px;
  text-decoration: none;
}

.elt-aligne {
        align-items: center;
    }
.image {
  max-width: 100px;
  align-items: center;
  
}

.skill {
    background: #333;
    color: #fff;
    padding: 5px 10px;
    margin: 5px;
    border-radius: 5px;
    font-size: 0.9em;
        }

p{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.elt-liste:hover {
  background-color: #444;
  color: rgb(188, 214, 188);
}

a:hover {
  color: rgb(188, 214, 188);
}

.alignementtexte{
  display: flex;
  justify-content: space-between;

}

.projet-section {
    margin: 2rem 0;
}

.projet {
    background: white;
    border-radius: 8px;
    padding: 20px;
    margin: 15px 0;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.projet h3 {
    color: #333;
    margin-top: 0;
}

.projet ul {
    list-style: disc;
    margin-left: 20px;
    color: #666;
}

.apprentissage {
    background: #f8f8f8;
    padding: 20px;
    border-radius: 8px;
    margin: 15px 0;
}

.apprentissage ul {
    list-style: disc;
    margin-left: 20px;
    color: #666;
}

table {
            width: 100%;
            border-collapse: collapse;
            margin: 20px 0;
            text-align: center;
            font-size: 16px;
}

table th,table td {
            padding: 10px;
            border: 1px solid #ddd;
        }

table td:hover ,table th:hover{
            background-color: #f1f1f1;
            cursor: pointer;
  }

.imagee {
  width:150px;
  border : 2px solid #000000;
  border-radius:50%
}
.textedroitimage{
  display:flex;
  justify-content: center;
  align-items: center;
  gap:10px;
}

.introduction{
  display:flex;
  justify-content: center;
  align-items: center;
  gap:10px;


  
}

.presentationprojet{
  display:flex;
  gap:10px;
}
figure {
  width:350px;
  border : 2px solid #000000;
  border-radius:2%;
  flex-direction: column;
}

figcaption{
  background-color: #f2f2f2;
}

figure img, figure video{
  width:100%
}