table {
            width: 100%;
            border-collapse: collapse;
            margin: 20px 0;
            text-align: center;
            font-size: 16px;
            
}

table th,table td {
            padding: 10px;
            border: 1px solid #27ae60;
            
        }

table td:hover ,table th:hover{
    background: linear-gradient(160deg,#f4f4f4,#27ae60);
    
    cursor: pointer;
  }


