/* Styles pour la page de présentation */
.presentation-container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 40px;
}

.intro-header {
    text-align: center;
    margin-bottom: 40px;
}

.profile-section {
    background: #fff;
    padding: 40px;
    border-radius: 12px;
    border: 2px solid transparent;
    margin-bottom: 30px;

}

.profile-section:hover {
    border-color: #27ae60;
    transform: translateY(-4px);
 
}

.section-title {
    color: #27ae60;
    font-size: 24px;
    margin-bottom: 20px;
}

.highlight-text {
    color: #27ae60;
    font-weight: 500;
}

.skills-list {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    margin: 20px 0;
}

.skill-tag {
    background: #333333;
    color: #27ae60;
    padding: 8px 16px;
    border-radius: 20px;
    font-size: 16px;
}

.contact-link {
    color: #27ae60;
    text-decoration: none;
}

.contact-link:hover {
    color: #040e08;
    text-decoration: none;
}
.contact-link:active{
    background-color: rgb(81, 19, 105);
}

input:focus{
    border: 2px solid #27ae60;
    background-color: #f4f4f400;
}
button{
    background-color: linear-gradient(160deg,#9fd890,#27ae60);
    transition: background-color 5s ease , border 5s ease;
}
button:hover{
    background-color: linear-gradient(160deg,#f4f4f4,#000000);
    border: 5px solid #000000;
  
}